In [8]:
import json

In [60]:
example = '''
{
    "people": [
    {
        "name": "Kamal",
        "phone": 987638322,
        "email": "kamalgodar@gmail.com",
        "has_license": true
    },
    {
        "name": "Karisma",
        "phone": 9756756325,
        "email": "kamalgoda@gmail.com",
        "has_license": false
    },
    {
        "name": "Himal",
        "phone": 98763865756,
        "email": "kamalg@gmail.com",
        "has_license": true
    }
    ]
}
'''

JSON string to Python Object

In [69]:
data = json.loads(example) # data is a Python object
data

{'people': [{'name': 'Kamal',
   'phone': 987638322,
   'email': 'kamalgodar@gmail.com',
   'has_license': True},
  {'name': 'Karisma',
   'phone': 9756756325,
   'email': 'kamalgoda@gmail.com',
   'has_license': False},
  {'name': 'Himal',
   'phone': 98763865756,
   'email': 'kamalg@gmail.com',
   'has_license': True}]}

In [62]:
type(data)

dict

In [65]:
data['people'][0]['name']

'Kamal'

In [68]:
for person in data['people']:
    print(person['name'])

Kamal
Karisma
Himal

Python Object into JSON string

In [70]:
for person in data['people']:
    del person['phone']

In [78]:
new_string = json.dumps(data, indent=2, sort_keys=True) # 2 indentation in each level
print(new_string)

{
  "people": [
    {
      "email": "kamalgodar@gmail.com",
      "has_license": true,
      "name": "Kamal"
    },
    {
      "email": "kamalgoda@gmail.com",
      "has_license": false,
      "name": "Karisma"
    },
    {
      "email": "kamalg@gmail.com",
      "has_license": true,
      "name": "Himal"
    }
  ]
}

Loading JSON file into Python Object

In [99]:
with open('json files/states.json') as f:
    data = json.load(f)

In [100]:
for state in data['states']:
    print(state['name'], state['abbreviation'])

Alabama AL
Alaska AK
Arizona AZ
Arkansas AR
California CA
Colorado CO
Connecticut CT
Delaware DE
Florida FL
Georgia GA
Hawaii HI
Idaho ID
Illinois IL
Indiana IN
Iowa IA
Kansas KS
Kentucky KY
Louisiana LA
Maine ME
Maryland MD
Massachusetts MA
Michigan MI
Minnesota MN
Mississippi MS
Missouri MO
Montana MT
Nebraska NE
Nevada NV
New Hampshire NH
New Jersey NJ
New Mexico NM
New York NY
North Carolina NC
North Dakota ND
Ohio OH
Oklahoma OK
Oregon OR
Pennsylvania PA
Rhode Island RI
South Carolina SC
South Dakota SD
Tennessee TN
Texas TX
Utah UT
Vermont VT
Virginia VA
Washington WA
West Virginia WV
Wisconsin WI
Wyoming WY

Writing Python Objects to JSON file

In [101]:
for state in data['states']:
    del state['area_codes']

In [102]:
with open ('json files/new_states.json', 'w') as f:
    json.dump(data, f, indent=2)

Adding Updating and Deleting JSON data

In [165]:
jsonData = '{"id": "5", "name": "kamal"}'
data = json.loads(jsonData)
data

{'id': '5', 'name': 'kamal'}

In [167]:
newData = {'dob':'2002-09-23'} # Adding data
data.update(newData)
data

{'id': '5', 'name': 'kamal', 'dob': '2002-09-23'}

In [168]:
del data['name'] # Deleting data
data

{'id': '5', 'dob': '2002-09-23'}

In [169]:
data['dob'] = '2022-07-13' # Updating data
data

{'id': '5', 'dob': '2022-07-13'}

In [171]:
newData = {'id':'21'} # Updating data
data.update(newData)
data

{'id': '21', 'dob': '2022-07-13'}

Working with JSON data from Public API

In [108]:
import json
from urllib.request import urlopen

with urlopen("https://api.coindesk.com/v1/bpi/currentprice.json") as response:
    source = response.read()

data = json.loads(source)
print(data)

{'time': {'updated': 'Jul 14, 2022 07:57:00 UTC', 'updatedISO': '2022-07-14T07:57:00+00:00', 'updateduk': 'Jul 14, 2022 at 08:57 BST'}, 'disclaimer': 'This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org', 'chartName': 'Bitcoin', 'bpi': {'USD': {'code': 'USD', 'symbol': '&#36;', 'rate': '19,957.3893', 'description': 'United States Dollar', 'rate_float': 19957.3893}, 'GBP': {'code': 'GBP', 'symbol': '&pound;', 'rate': '16,676.2349', 'description': 'British Pound Sterling', 'rate_float': 16676.2349}, 'EUR': {'code': 'EUR', 'symbol': '&euro;', 'rate': '19,441.4110', 'description': 'Euro', 'rate_float': 19441.411}}}

In [109]:
print(json.dumps(data, indent=2))

{
  "time": {
    "updated": "Jul 14, 2022 07:57:00 UTC",
    "updatedISO": "2022-07-14T07:57:00+00:00",
    "updateduk": "Jul 14, 2022 at 08:57 BST"
  },
  "disclaimer": "This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org",
  "chartName": "Bitcoin",
  "bpi": {
    "USD": {
      "code": "USD",
      "symbol": "&#36;",
      "rate": "19,957.3893",
      "description": "United States Dollar",
      "rate_float": 19957.3893
    },
    "GBP": {
      "code": "GBP",
      "symbol": "&pound;",
      "rate": "16,676.2349",
      "description": "British Pound Sterling",
      "rate_float": 16676.2349
    },
    "EUR": {
      "code": "EUR",
      "symbol": "&euro;",
      "rate": "19,441.4110",
      "description": "Euro",
      "rate_float": 19441.411
    }
  }
}

In [118]:
data['bpi']

{'USD': {'code': 'USD',
  'symbol': '&#36;',
  'rate': '19,957.3893',
  'description': 'United States Dollar',
  'rate_float': 19957.3893},
 'GBP': {'code': 'GBP',
  'symbol': '&pound;',
  'rate': '16,676.2349',
  'description': 'British Pound Sterling',
  'rate_float': 16676.2349},
 'EUR': {'code': 'EUR',
  'symbol': '&euro;',
  'rate': '19,441.4110',
  'description': 'Euro',
  'rate_float': 19441.411}}

In [114]:
data['bpi']['USD']['code']

'USD'

In [137]:
data['time']['updated']

'Jul 14, 2022 07:57:00 UTC'